*~
*.la
*.lo
*.o
*.exe
*.gcda
*.gcno
coverage
.deps
.dirstamp
.libs
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
stamp-h1
xpost.pc
src/bin/xpost
src/bin/xpost_client
src/bin/xpost_dsc
src/bin/xpost_view

# out-of-tree build, install-test and editor tooling cache directories
/build*/
/bcov/
/bcovlarge/
/bnoface/
/basan/
/doc/html/
/doc/latex/
/.cache/
/at-inst/
/at-build/
/at-check/
/at-rel/
/xpost-inst-test/
semantics.diskf
semantics.scratch
*.scratch
scanner_eof_scratch
page-*-rec.ppm
sparse_rows_out.pgm
type42-charstrings/
zz.out
zzfilter-*.tmp
graphics.scratch
xpost-*.tar.*
